@page "/"
@inject IJSRuntime JSRuntime
<PageTitle>Home</PageTitle>
    <Header></Header>
        <!-- Hero Banner with Dark Blue Gradient -->
    <section class="hero">
        <div class="container">
            <h1>Advanced Healthcare Solutions for Modern Life</h1>
            <p>24/7 access to board-certified physicians, emergency services, and personalized treatment plans from the comfort of your home</p>
        <a href="javascript:Blazor.navigateTo('/appointment')" class="btn-app">
                <i class="fas fa-calendar-check"></i> Book Appointment
            </a>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-6">
                    <div class="about-info">
                    <h3 style="color:#271f1f !important" class="welcome wow fadeInUp" data-wow-delay="0.6s">Welcome to Your <i class="fa fa-h-square"></i>ealth Center</h3>
                        <div class="wow fadeInUp" data-wow-delay="0.8s">
                            <p>Aenean luctus lobortis tellus, vel ornare enim molestie condimentum. Curabitur lacinia nisi vitae velit volutpat venenatis.</p>
                            <p>Sed a dignissim lacus. Quisque fermentum est non orci commodo, a luctus urna mattis. Ut placerat, diam a tempus vehicula.</p>
                        </div>
                        <figure class="profile wow fadeInUp" data-wow-delay="1s">
                            <img src="images/author-image.jpg" class="img-responsive" alt="">
                            <figcaption>
                            <h3 style="color: black !important">Dr. Neil Jackson</h3>
                                <p>General Principal</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- Services Section -->
    <!-- Services Section -->
    <section class="services-section">
        <div class="container">
            <h2 class="section-title" style="font-weight:bolder">Our <span>Specialized</span> Services</h2>
            <p class="section-subtitle">Comprehensive care for all your health needs</p>

            <div class="services-scroller" tabindex="0">
                <div class="services-track">
                    <!-- Service Card 1 -->
                    <div class="service-card">
                        <div class="service-icon">
                            <i class="fas fa-heartbeat"></i>
                        </div>
                        <h3>Cardiology</h3>
                        <p>Advanced heart care with diagnostic equipment and treatment plans.</p>
                        <a href="#" class="service-link">
                            Learn More <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>

                    <!-- Service Card 2 -->
                    <div class="service-card">
                        <div class="service-icon">
                            <i class="fas fa-brain"></i>
                        </div>
                        <h3>Neurology</h3>
                        <p>Specialized care for brain and nervous system disorders.</p>
                        <a href="#" class="service-link">
                            Learn More <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>

                    <!-- Service Card 3 -->
                    <div class="service-card">
                        <div class="service-icon">
                            <i class="fas fa-bone"></i>
                        </div>
                        <h3>Orthopedics</h3>
                        <p>Bone and joint care from sports injuries to replacements.</p>
                        <a href="#" class="service-link">
                            Learn More <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>

                    <!-- Service Card 4 -->
                    <div class="service-card">
                        <div class="service-icon">
                            <i class="fas fa-lungs"></i>
                        </div>
                        <h3>Pulmonology</h3>
                        <p>Respiratory system specialists for breathing conditions.</p>
                        <a href="#" class="service-link">
                            Learn More <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>

                    <!-- Service Card 5 -->
                    <div class="service-card">
                        <div class="service-icon">
                        <i class="fas fa-allergies"></i>
                        </div>
                        <h3>Dermatology</h3>
                    <p>Diagnosis and treatment of simple and complex skin conditions and diseases</p>
                        <a href="#" class="service-link">
                            Learn More <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                <div class="service-card">
                    <div class="service-icon">
                        <i class="fas fa-baby"></i>
                    </div>
                    <h3>Pediatrics</h3>
                    <p>Specialized healthcare for infants, children and adolescents</p>
                    <a href="#" class="service-link">
                        Learn More <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
                <div class="service-card">
                    <div class="service-icon">
                        <i class="fas fa-video"></i>
                    </div>
                    <h3>Telemedicine</h3>
                    <p>Virtual consultations with our healthcare professionals and take their prescriptions</p>
                    <a href="#" class="service-link">
                        Learn More <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Doctors Section -->
    <!-- <section class="doctors-section">
        <div class="container">
            <h2 class="section-title">Meet Our <span>Specialists</span></h2>
          -->
    <!-- TEAM -->
    <section id="team" data-stellar-background-ratio="1" >
        <div class="container">
            <div class="row mb-2">
                <div class="col-md-6 col-sm-6">
                    <div class="about-info">
                        <h2 id="ourdoc" class="wow fadeInUp" style="font-weight: bolder; font-size: 3000; color:#212529" data-wow-delay="0.1s">Our Doctors</h2>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="clearfix"></div>

                <div class="col-md-4 col-sm-6">
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.2s">
                        <img src="images/team-image1.jpg" class="img-responsive" alt="">

                        <div class="team-info">
                        <h3 style="color:#271f1f !important">Nate Baston</h3>
                        <p style="color:black !important">General Principal</p>
                            <div class="team-contact-info">
                            <p style="color:black !important"><i style="color:black !important" class="fa fa-phone"></i> 010-020-0120</p>
                            <p style="color:black !important"><i style="color:black !important" class="fa fa-envelope-o"></i> <a style="color: black !important" href="#">general@company.com</a></p>
                            </div>
                            <ul class="social-icon">
                            <li><a style="color: black !important"href="#" class="fab fa-facebook-f"></a></li>
                            <li><a style="color: black !important" href="#" class="fa fa-envelope-o"></a></li>
                            <li><a style="color: black !important" href="#" class="fab fa-twitter"></a></li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.4s">
                        <img src="images/team-image2.jpg" class="img-responsive" alt="">

                        <div class="team-info">
                        <h3 style="color:#271f1f!important">Jason Stewart</h3>
                        <p style="color:black !important">Pregnancy</p>
                            <div class="team-contact-info">
                            <p style="color:black !important"><i style="color:black !important" class="fa fa-phone"></i> 010-070-0170</p>
                            <p style="color:black !important"><i style="color:black !important" class="fa fa-envelope-o"></i> <a style="color:black !important" href="#">pregnancy@company.com</a></p>
                            </div>
                            <ul class="social-icon">
                            <li><a style="color: black !important" href="#" class="fab fa-facebook-f"></a></li>
                            <li><a style="color: black !important" href="#" class="fa fa-envelope-o"></a></li>
                            <li><a style="color: black !important" href="#" class="fab fa-twitter"></a></li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="team-thumb wow fadeInUp" data-wow-delay="0.6s">
                        <img src="images/team-image3.jpg" class="img-responsive" alt="">

                        <div class="team-info">
                        <h3 style="color:#271f1f !important">Miasha Nakahara</h3>
                        <p style="color:black !important">Cardiology</p>
                            <div class="team-contact-info">
                            <p style="color:black !important"><i style="color:black !important" class="fa fa-phone"></i> 010-040-0140</p>
                            <p style="color:black !important"><i style="color:black !important" class="fa fa-envelope-o"></i> <a  style="color:black !important" href="#">cardio@company.com</a></p>
                            </div>
                            <ul class="social-icon">
                            <li><a style="color: black !important" href="#" class="fab fa-facebook-f"></a></li>
                            <li><a style="color: black !important" href="#" class="fa fa-envelope-o"></a></li>
                            <li><a style="color: black !important" href="#" class="fab fa-twitter"></a></li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
<section id="news" data-stellar-background-ratio="2.5">
    <div class="container" style="padding: 5px !important;">
        <div class="row">

            <div class="col-md-12">
                <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="wh"style="font-weight: bolder;">Latest News</h1>
                </div>
            </div>

            <!-- News Item 1 -->
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">
                    <a href="news-detail.html">
                        <img  src="images/news-image1.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="news-info">
                        <span style="color:black !important">March 08, 2018</span>
                        <h3><a href="news-detail.html" style="color: #0d47a1 !important">About Amazing Technology</a></h3>
                        <p style="color:black !important">Maecenas risus neque, placerat volutpat tempor ut, vehicula et felis.</p>
                        <div class="author" style="display:flex; flex-direction:row">
                            <img src="images/author-image.jpg" class="img-responsive" alt="">
                            <div class="author-info">
                                <h5 style="color:black !important">Jeremie Carlson</h5>
                                <p style="color:black !important">CEO / Founder</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Item 2 -->
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="news-thumb wow fadeInUp" data-wow-delay="0.6s">
                    <a href="news-detail.html">
                        <img src="images/news-image2.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="news-info">
                        <span style="color:black !important">February 20, 2018</span>
                        <h3><a href="news-detail.html" style="color: #0d47a1 !important">Introducing a new healing process</a></h3>
                        <p style="color:black !important">Fusce vel sem finibus, rhoncus massa non, aliquam velit. Nam et est ligula.</p>
                        <div class="author">
                            <img src="images/author-image.jpg" class="img-responsive" alt="">
                            <div class="author-info">
                                <h5 style="color:black !important">Jason Stewart</h5>
                                <p style="color:black !important">General Director</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Item 3 -->
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="news-thumb wow fadeInUp" data-wow-delay="0.8s">
                    <a href="news-detail.html">
                        <img src="images/news-image3.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="news-info">
                        <span style="color:black !important">January 27, 2018</span>
                        <h3><a href="news-detail.html" style="color: #0d47a1 !important">Review Annual Medical Research</a></h3>
                        <p style="color:black !important">Vivamus non nur diam cursus maximus. Pellentesque dignissim.</p>
                        <div class="author">
                            <img src="images/author-image.jpg" class="img-responsive" alt="">
                            <div class="author-info">
                                <h5 style="color:black !important">Andrio Abero</h5>
                                <p style="color:black !important">Online Advertising</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>





    <!-- GOOGLE MAP -->
    <section id="google-map">
        <!-- How to change your own map point
              1. Go to Google Maps
              2. Click on your location point
              3. Click "Share" and choose "Embed map" tab
              4. Copy only URL and paste it within the src="" field below
        -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d121942.11297281297!2d-96.76900122054649!3d32.82107286898406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864ea12217915539%3A0xb73b206fd46f0e7f!2sClub%20Pilates!5e0!3m2!1sen!2s!4v1743660872250!5m2!1sen!2s" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
        @* <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3647.3030413476204!2d100.5641230193719!3d13.757206847615207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf51ce6427b7918fc!2sG+Tower!5e0!3m2!1sen!2sth!4v1510722015945" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe> *@
    </section>



    <!-- Testimonials Section -->
    <section class="testimonials-section">
        <div class="container">
            <h2 class="section-title" style="font-weight: bolder;">Patient Testimonials</h2>
            <p class="section-subtitle">Hear what our patients say about their experiences</p>

            <div class="testimonials-grid">
                <!-- Testimonial 1 -->
                <div class="testimonial-card">
                    <div class="testimonial-content">
                        <div class="quote-icon">
                            <i class="fas fa-quote-left"></i>
                        </div>
                        <p style="color:black !important">The care I received was exceptional. Dr. Johnson took the time to explain everything and made me feel comfortable throughout my treatment.</p>
                        <div class="patient-info">
                            <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="Sarah Miller">
                            <div>
                                <h4>Sarah Miller</h4>
                                <p>Cardiology Patient</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Testimonial 2 -->
                <div class="testimonial-card">
                    <div class="testimonial-content">
                        <div class="quote-icon">
                            <i class="fas fa-quote-left"></i>
                        </div>
                    <p style="color:black !important">After my knee surgery, the physical therapy team helped me regain full mobility. I'm back to playing tennis thanks to their expertise.</p>
                        <div class="patient-info">
                            <img src="https://randomuser.me/api/portraits/men/68.jpg" alt="James Wilson">
                            <div>
                                <h4>James Wilson</h4>
                                <p>Orthopedics Patient</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="testimonial-card">
                    <div class="testimonial-content">
                        <div class="quote-icon">
                            <i class="fas fa-quote-left"></i>
                        </div>
                    <p style="color:black !important">After my knee surgery, the physical therapy team helped me regain full mobility. I'm back to playing tennis thanks to their expertise.</p>
                        <div class="patient-info">
                            <img src="https://randomuser.me/api/portraits/women/34.jpg" alt="James Wilson">
                            <div>
                                <h4>James Wilson</h4>
                                <p>Orthopedics Patient</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <Footer></Footer>
    <script src="js/site.js"></script> 


@code {
    private bool isDarkMode = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Check for saved theme preference
            var savedTheme = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "theme");
            isDarkMode = savedTheme == "dark";
            await SetTheme(isDarkMode);
            StateHasChanged();
        }
    }

    private async Task ToggleTheme()
    {
        isDarkMode = !isDarkMode;
        await SetTheme(isDarkMode);
    }

    private async Task SetTheme(bool darkMode)
    {
        if (darkMode)
        {
            await JSRuntime.InvokeVoidAsync("document.body.classList.add", "dark-theme");
            await JSRuntime.InvokeVoidAsync("localStorage.setItem", "theme", "dark");
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("document.body.classList.remove", "dark-theme");
            await JSRuntime.InvokeVoidAsync("localStorage.setItem", "theme", "light");
        }
    }
}